.navbar{
    padding: 20px;
    margin-bottom: 0;
}
.jumbotron{
    height: 200px;
    background: #57C373;
}
.info{
    margin-top: 2em;
}
.info h2{
    color: #fff;
}
.dropdown-menu > li > a{
    padding: 10px 20px;
}
.avatar-img{
    margin-left: 5px;
}
.comments-form{
    margin-top: 1em;
}
#avatar .avatar{
    margin: 2px auto;
    width: 100px;
    z-index: 6;
    margin-top: -28px;
    opacity:0;
    height: 32px;
}
#avatar .btn.avatar-button{
    margin-top: 30px;
    z-index: 3;
}
.form-search .form-group{
    position: relative;
    margin-top: 40px;
}
.form-search .search{
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    padding: 13px 30px;
    border-radius: 0;
    height: auto;
    text-align: center;
}
.form-search .fa{
    position: absolute;
    right: 25px;
    top: 15px;
    color: #eee;
    font-size: 24px;
}
.media-conversation-replies{
     display: block;
    font-size: .8em;
    color: #a7b3c2;
 }
.media-conversation-replies a{
    display: block;
    text-align: center;
    color: #4b4b4b;
    font-size: 1.44em;
}
.tag {
    display: inline-block;
    padding: 0 8px;
    color: #fff;
    background-color: #f56857;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    text-align: center;
    border: 1px solid #f56857;
}

.favorites {
    cursor: pointer;
    border-radius: 4px;
}
.favorites.like {
    display: inline-block;
    background: #F56857;
    border: 1px solid #F56857;
}
.favorites.liked {
    display: inline-block;
    background: #5cb860;
    border: 1px solid #5cb860;
}
.favorites.done {
    display: inline-block;
}
.favorites.doned {
    display: none;
}